pyyaml>=6.0.1
numpy>=1.24.0
ultralytics>=8.1.0
torch-pruning>=1.4.0
onnx>=1.15.0
onnxruntime>=1.17.0
pillow>=10.0.0
onnxsim
torch
pytest
tf_keras<=2.19.0
onnx_graphsurgeon>=0.3.26
onnx2tf>=1.26.3,<1.29.0
protobuf>=5